main > .container {
    padding: 70px 15px 20px;
}

.footer {
    background-color: #000;
    font-size: 1.7em;
    height: 80px;
    color: white;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.footer > p {
    align-items: center;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
    content: "";
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.has-error .help-block {
    color: red;
    text-align: right;
    font-weight: 600;
}

/* ---------------------------------------------------
    REQUIRED FORM
----------------------------------------------------- */

form div.required label.control-label::after,
form div.required label::after,
div.form-row div.required label::after {
    content: " * ";
    color: #a94442;
}

form div.required label.custom-control-label::after {
    content: "";
}

form div.required label.not-required-label::after {
    content: " - ";
    color: transparent;
}

.circle-wrap {
    width: 65px;
    height: 65px;
    background: #ccc;
    border-radius: 50%;
    margin-left: auto;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
    width: 65px;
    height: 65px;
    position: absolute;
    border-radius: 50%;
}

.circle-wrap .circle .mask {
    clip: rect(0px, 65px, 65px, 32.5px);
}

.circle-wrap .inside-circle {
    width: 53px;
    height: 53px;
    border-radius: 50%;
    background: #fff;
    line-height: 50px;
    text-align: center;
    margin-top: 6px;
    margin-left: 6px;
    color: #1e51dc;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 1.2em;
}

/* color animation */

/* 3rd progress bar */
.mask .fill {
    clip: rect(0px, 32.5px, 65px, 0px);
    background-color: #227ded;
}

.text-bolder {
    font-weight: bolder;
}

.text-bolderless {
    font-weight: 500;
}

.img-icon {
    height: 17px;
    display: block;
}

.img-left-icon {
    margin: auto 5px auto 10px;
}

.img-right-icon {
    margin: auto 10px auto 5px;
}

.input-left-style {
    border: 1px solid #ced4da;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.input-right-style {
    border: 1px solid #ced4da;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.not-left-border > .form-control:not(:first-child),
.not-left-border > .custom-select:not(:first-child) {
    border-left: none;
}

.not-right-border > .form-control:not(:last-child),
.not-right-border > .custom-select:not(:last-child),
.not-right-border > .custom-file:not(:last-child) .custom-file-label,
.not-right-border > .custom-file:not(:last-child) .custom-file-label::after {
    border-right: none;
}

.invalid-feedback {
    display: block;
}

.is-valid + .input-right-style {
    border-color: #28a745;
}

.is-invalid + .input-right-style {
    border-color: #dc3545;
}

.form-control.is-valid ~ .input-left-style {
    border-color: #28a745;
}

.form-control.is-invalid ~ .input-left-style {
    border-color: #dc3545;
}

.form-currency {
    border: none;
    border-bottom: 1px solid #ced4da;
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    padding-top: 0.375rem;
    padding-right: 0.75rem;
    padding-bottom: 0.375rem;
    padding-left: 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-align: center;
}

.form-currency:focus {
    color: #495057;
    background-color: #fff;
    border-bottom-color: rgb(0 123 255 / 25%);
    border-bottom-width: 2px;
    outline: 0;
}

.form-currency:focus-visible {
    outline-offset: 0px;
    outline: none;
}

.form-currency::-webkit-input-placeholder {
    text-align: center;
}

.form-currency:-moz-placeholder {
    /* Firefox 18- */
    text-align: center;
}

.form-currency::-moz-placeholder {
    /* Firefox 19+ */
    text-align: center;
}

.form-currency:-ms-input-placeholder {
    text-align: center;
}

.term-condition {
    max-height: 250px;
    padding: 10px 15px;
    border: 1px solid black;
    overflow-y: auto;
    margin: 12px 0px;
}
